<div class="data-collect-element card">

  <!-- <h3>TEAM 1</h3> -->
  <div class="col">
    <div class="prematch-block-wrapper">
      <prematch-block></prematch-block>
    </div>
  </div>

  <div class="col middle">
    <div class="prematch-block-wrapper">
      <prematch-block></prematch-block>
    </div>
  </div>

  <div class="col">
    <div class="prematch-block-wrapper">
      <prematch-block></prematch-block>
    </div>
  </div>

  <div class="line"></div>
  <!-- <h3>TEAM 2</h3> -->
  <div class="col">
    <div class="prematch-block-wrapper">
      <prematch-block></prematch-block>
    </div>
  </div>

  <div class="col middle">
    <div class="prematch-block-wrapper">
      <prematch-block></prematch-block>
    </div>
  </div>

  <div class="col">
    <div class="prematch-block-wrapper">
      <prematch-block></prematch-block>
    </div>
  </div>

</div>