<h4 class="subhead">Match {{ matchNum }}</h4>
<h4 class="head">Team {{ teamNum }}</h4>

<form class='collect-form' >

<div class="setup form-tab active">
	<setup-element #setup class="wide" (update)="updateSetupVariables($event)"></setup-element>
</div>

<div class="auton form-tab">
	<num-element name="Auton High Boxes" formName="auton-scale-boxes" class="wide"></num-element>
	<num-element name="Auton Low Boxes" formName="auton-switch-boxes" class="wide"></num-element>
</div>

<div class="teleop form-tab">

	<map-layout #map (update)="updateTeleopObject($event)"></map-layout>

	<div class="button-wrapper"><button type="button" (click)="submitForm($event)">SUBMIT</button></div>
</div>

</form>

<nav class="tab-nav">
	<a href="#" class="setup active" #setupLink (click)="changeTab($event)">SETUP</a>
	<a href="#" class="auton" #autonLink (click)="changeTab($event)">AUTON</a>
	<a href="#" class="teleop" #teleopLink (click)="changeTab($event)">TELEOP</a>
</nav>