<div class="field-block-wrapper">
  
  <div class="col-1">
    <div class="box-pickup">
      <img class="material-icons noselect" src="graphics/pickup.png"></img>
    </div>
  </div>

  <div class="col-2">
    <div class="box-place">
      <img class="noselect" src="graphics/box-down.png">
    </div>
    <div class="obstacle"></div>

    <div class="box-place">
      <img class="noselect" src="graphics/box-down.png">
    </div>
  </div>

  <div class="col-3">
    <div class="box-pickup">
      <img class="material-icons noselect" src="graphics/pickup.png"></img>
    </div>
  </div>

</div>