<div class="data-collect-element">
	<div class="map-layout-wrapper">

		<h3>MAP LAYOUT</h3>

    <div class="field-wrapper">

      <div class="box-place left" id="left-power-up">
        <img class="noselect" src="graphics/box-down.png">
      </div>

      <field-block position="left" (change)="blockInteraction($event)"></field-block>
      <field-block position="middle" (change)="blockInteraction($event)"></field-block>
      <field-block position="right" (change)="blockInteraction($event)"></field-block>

      <div class="box-place right" id="right-power-up">
        <img class="noselect" src="graphics/box-down.png">
      </div>

    </div>

    <nav class="map-nav">
      <p class="pickup">
        <img class="material-icons noselect" src="graphics/pickup.png"></img>
        Picked up: {{ totalPickedUp }}
      </p>
      <button type="button" id="undo" (click)="undo()">UNDO</button>
      <button type="button" id="defended">DEF'D AGAINST</button>
      <button type="button" id="missed">MISSED</button>
      <p class="placed">
        Placed: {{ totalPlaced }}
        <img class="noselect" src="graphics/box-down.png">
      </p>
    </nav>

	</div>
</div>