<div class="data-collect-element setup">
	<p>MATCH SETUP</p>
	<div class="input-wrapper">
		<div class="num-wrapper">
			<input class="number noselect match-number" type="number" name="matchNum" value="{{ matchNum }}" (keyup)="updateMatchNum($event)">
			<p>MATCH #</p>
		</div>
		<div class="num-wrapper">
			<input class="number noselect team-number" type="number" name="teamNum" value="{{ teamNum }}" (keyup)="updateTeamNum($event)">
			<p>TEAM #</p>
		</div>
		<div class="num-wrapper toggle-wrapper noselect blue">
			<p (click)="updateColor()" class="{{ color }}">{{ color }}</p>
		</div>
		<div class="num-wrapper">
			<input class="number noselect team-number" type="number" name="teamNum" value="{{ posNum }}" (keyup)="updatePosNum($event)">
			<p>POSITION #</p>
		</div>
	</div>
</div>