<div class="popup">
<form class="new-task-form" [formGroup]=addForm (ngSubmit)='addTask()'>
	<div class="new-task-wrapper">
    <div class="new-task">
      <input type="text" formControlName="title" name="title" id="title" placeholder="Title goes here" />
    </div>
    <div class="new-task-info-wrapper">
      <div class="new-task-info">
        <p class="due">Due: Select date below</p>
        <p class="date">
          <input type="number" name="month" id="month" placeholder="MM"> /
          <input type="number" id="day" placeholder="DD" name="month"> /
          <input type="number" id="year" placeholder="YY" name="year">
        </p>
        <input type="checkbox" id="due-check" value="due-toggle" class="due-date-checkbox" checked />
        <label for="due-check" class="due-date">DUE DATE</label>
        <div class="select-wrapper">
          <select name="importance" class="importance">
          	<option value="not important">NOT IMPORTANT</option>
  			    <option value="kinda important">KINDA IMPORTANT</option>
  			    <option value="important">IMPORTANT</option>
  			    <option value="hella important">HELLA IMPORTANT</option>
          </select>
          <i class="material-icons">arrow_drop_down</i>
        </div>
      </div>
      <button type="submit" class="button create"><i class="material-icons">add_circle_outline</i> CREATE</button>
      <div class="button delete">DELETE <i class="material-icons">delete</i></div>
    </div>
  </div>
</form>

</div>